<h2> Our Products </h2>

<ul>
  <% productsAndStuff.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %> </h3>
      <p> $<%= oneProduct.price %> </p>

                  <!-- req.query.myId -->
      <a href="/products/details?myId=<%= oneProduct._id %>">
        View Details
      </a>
      <br>
               <!-- req.query.myId -->
      <a href="/products/edit?myId=<%= oneProduct._id %>">
        Edit Product
      </a>
      <br>
                 <!-- req.query.myId -->
      <a href="/products/delete?myId=<%= oneProduct._id %>">
        Delete Link (GET)
      </a>
      <br>
                                    <!-- req.query.myId -->
      <form method="post" action="/products/delete?myId=<%= oneProduct._id %>">
        <button> Delete Button (POST) </button>
      </form>
    </li>
  <% }) %>
</ul>
