<h2> Product Details </h2>

<h3> <%= productDetails.name %> </h3>

<img src="<%= productDetails.imageUrl %>">

<p> $<%= productDetails.price %> </p>

<p> <%= productDetails.description %> </p>


<a href="/products/<%= productDetails._id %>/edit">
  Edit Product
</a>
<br>

<a href="/products/<%= productDetails._id %>/delete">
  Delete Link (GET)
</a>
<br>

<form method="post" action="/products/<%= productDetails._id %>/delete">
  <button> Delete Button (POST) </button>
</form>
