<h2> Product Details </h2>

<h3> <%= productDetails.name %> </h3>

<img src="<%= productDetails.imageUrl %>">

<p> $<%= productDetails.price %> </p>

<p> <%= productDetails.description %> </p>


<hr>
<section>
  <% if (productDetails.reviews.length === 0) { %>
      <h3> Be the first to review! </h3>
  <% } else { %>
      <h3> Reviews </h3>

      <ul>
        <% productDetails.reviews.forEach((oneReview) => { %>
          <li>
            <h4> <%= oneReview.author %> </h4>
            <p> <%= oneReview.stars %> out of 5 </p>
            <p> <%= oneReview.content %> </p>
          </li>
        <% }) %>
      </ul>
  <% } %>

  <a href="/products/<%= productDetails._id %>/reviews/new">
    Review This Product
  </a>
  <br>
</section>
<hr>


<a href="/products/<%= productDetails._id %>/edit">
  Edit Product
</a>
<br>

<a href="/products/<%= productDetails._id %>/delete">
  Delete Link (GET)
</a>
<br>

<form method="post" action="/products/<%= productDetails._id %>/delete">
  <button> Delete Button (POST) </button>
</form>
